{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="menu-container">
    <h3>偏愛会議</h3>
    <h4>メニュー</h4>
    <a class="menu-button" href="{{ url_for('room_create_view') }}">ルーム作成</a><br>
    <a class="menu-button" href="{{ url_for('room_search_view') }}">ジャンル検索</a><br>
    <a class="menu-button" href="{{ url_for('profile_view') }}">プロフィール</a><br>
    <a class="logout-button" href="{{ url_for('logout') }}">ログアウト</a>
  </div>
  <div class="room-container">
<!-- ここにチャットルームを表示する -->
    <h4>ルーム一覧</h4>
    {% if channels %}
    <ul>
      {% for channel in channels %}
      <li>
        <a href="{{ url_for('chatroom_screen', channel_id=channel.channel_id) }}">
          {{ channel.channel_name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>チャンネルが存在しません</p>
    {% endif %}

{% endblock %}