<!DOCTYPE html>
<html>
<head>
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <form method="post" action="{{ url_for('login_view') }}">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="ログイン">
    </form>
    <p>アカウントをお持ちでない方は<a href="{{ url_for('signup') }}">こちら</a>から登録できます。</p>
</body>
</html>
