{% extends 'base.html' %}
{% block title %}password_reset{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/password_reset.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <img class="flower left" src="{{ url_for('static', filename='image/flower_left.jpg') }}">
  <div class="reset-container">
    <h1>偏愛会議</h1>
    <h2>パスワード再設定</h2>
    <!-- エラーメッセージや通知の表示 -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <!-- パスワードリセット用フォーム -->
    <form method="POST" action="{{ url_for('password_reset_process') }}">
      <div>
        <input placeholder="登録済みメールアドレス" type="email" name="email" required/>
      </div>
      <div>
        <input placeholder="新しいパスワード" type="password" name="new_password" required/>
      </div>
      <div>
        <input placeholder="新しいパスワード(確認用)" type="password" name="new_password_second" required/>
      </div>
      <div>
        <button class="password-reset-button" type="submit">登録</button>
      </div>
    </form>
    <a class="switch-login-button" href="{{ url_for('login_view') }}">ログインはこちら</a>
  </div>
  <img class="flower right", src="{{ url_for('static', filename='image/flower_right.jpg') }}">
</div>
{% endblock %}
