/* room-container 内でフォーム中央寄せ */
.room-main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column; /* 縦並びに */
  align-items: center; /* 中央寄せ */
}

/* 中央寄せ・縦並び・余白 */
.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
  padding: 2vw 0;
}

/* ラベルと入力欄のセット */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5vw;
}

/* ラベル */
.form-group label {
  color: #912018;
  font-size: 1.3vw;
  margin-bottom: 0.5vw;
}

/* 入力欄 */
.form-group input,
.form-group textarea {
  width: 35vw;
  padding: 0.4vw;
  font-size: 1vw;
  border: 1.5px solid #FDA29B;
  border-radius: 0.4vw;
  text-align: center;
}

.icon-container {
  font-size: 1.3vw;
  color: #912018;
  text-align: center;
  display: block;
  margin-bottom: 1vw;
}

.icon-section {
  display: flex;
  flex-direction: column;
  align-items: center;  /* 中央寄せ */
}


.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}

.icon-option {
  display: grid; /* 中央寄せ*/
  grid-template-columns: repeat(2, 1fr); /* アイコンを2列にする */
  gap: 1em; /* アイコンを等間隔にする */
  cursor: pointer;
}

.icon-option input[type="radio"] {
  display: none;
}

.icon-option img {
  width: 2.9vw;
  height: 2.9vw;
  border: 0.15vw solid transparent;
  border-radius: 0.5vw;
  transition: border 0.2s;
}

.icon-option input[type="radio"]:checked + img {
  border-color: #FDA29B;
}

.update-button {
  display: block;
  /* text-align: center; */
  /* justify-content: center; */
  width: 15vw; /* ボタンの幅 */
  padding: 0.35vw ; /* ボタンの高さ */
  margin: 1vw;
  background-color: #D92D20;
  color: #FFFFFF;
  font-size: 1.2vw;
  border: none; /* 要素の枠線: なし */
  border-radius: 50px; /* ボタンの角丸 */
  text-decoration: none; /* 文字の下線:なし */
  cursor: pointer; /* マウスポインターを登録ボタンに合わせると指差しアイコンに変わる */
}

.button-container {
  width: 30vw; /* フォームと同じ幅 */
  display: flex;
  justify-content: center; /* ボタン自体を中央寄せ */
  margin: 0 auto;
}

.delete_button {
  margin: 2rem auto;
  width: 15vw;
  background-color: #ff4444;
  color: white;
  padding: 0.5vw 0;
  border: none;
  border-radius: 1.5vw;
  font-size: 1.1vw;
  cursor: pointer;
}